<!DOCTYPE html>
<html>

<head>
    <title>home</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0px;
            padding: 0px;
            color: whitesmoke;
            background-color: whitesmoke;
        }

        .section {
            padding-top: 50px;
        }

        .container {
            margin: auto;
            max-width: 1170px;
            padding: 0 25%;
        }

        .form {
            justify-content: center;
            align-items: center;
            background-color: #45A29E;
            padding: 50px;
            margin: 100px 0;
            width: 450px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }

        form {
            align-items: center;

        }

        input {
            width: 350px;
            padding: 5px 2px;
            margin-bottom: 10px;
            margin-top: 5px;
            border-radius: 7px;
            align-items: center;
        }

        #submitbtn {
            border: none;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            color: whitesmoke;
            background-color: orange;
            border-radius: 10px;
            margin-top: 15px;
        }

        span {
            text-align: right;
            color: red;
            font-size: 14px;
        }

        #reg {
            font-size: 35px;
            color: whitesmoke;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        ul{
            list-style-type: none;
            display: flex;
            gap:5px;
            align-items: center;
            
        }
        nav{
            float: right;
        }
    </style>
</head>

<body>

    <section class="section">
        <div class="container"> 
            <nav>
                <ul>
                    <li><a href="/home">Home</li>
                    <li><a href="/task01">Task 01</a></li>
                    <li><a href="/task02">Task 02</a></li>
                    <li><a href="/task03">Task 03</a></li>
                    <li><a href="/task04">Task 04</a></li>
                    <li><a href="/task05">Task 05</a></li>
                    <li><a href="/task06">Task 06</a></li>
                    <li><a href="/task07">Task 07</a></li>
                    <li><a href="/task08">Task 08</a></li>
                    <li><a href="/task09">Task 09</a></li>
                    <li><a href="/task10">Task 10</a></li>
                    <li><a href="/task11">Task 11</a></li>
                    <li><a href="/task12">Task 12</a></li>
                    
                </ul>
            </nav>
        </div>
    </section>

    <section class="section">
        <div class="container">
        </div>
    </section>


</body>

</html>