<!DOCTYPE html>
<html>

<head>
    <title>Nodetasks</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0px;
            padding: 0px;
            color: whitesmoke;
            background-color: whitesmoke;
        }

        .section {
            padding-top: 50px;
        }

        .container {
            margin: auto;
            max-width: 1170px;
            padding: 0 25%;
        }

        .form {
            justify-content: center;
            align-items: center;
            background-color: #45A29E;
            padding: 50px;
            margin: 10px 0;
            width: 450px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        form {
            align-items: center;

        }

        input {
            width: 350px;
            padding: 5px 2px;
            margin-bottom: 10px;
            margin-top: 5px;
            border-radius: 7px;
            align-items: center;
        }

        #submitbtn {
            border: none;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            color: whitesmoke;
            background-color: orange;
            border-radius: 10px;
            margin-top: 15px;
        }

        span {
            text-align: right;
            color: red;
            font-size: 14px;
        }

        #reg {
            font-size: 35px;
            color: whitesmoke;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        ul{
            list-style-type: none;
            /* display: flex; */
            /* gap:5px; */
            align-items: center;
            
        }
        nav{
            /* float: right; */
            align-items: center;
            text-align: center;
        }
        li{
            padding: 10px 20px;
            background-color: white;
            color: black;
        }
        a{
            color: black;
            font-style: normal;
        }
        h1{
            color: black;
        }
    </style>
</head>

<body><center><h1>Node Tasks List</h1></center>

    <section class="section">
        <div class="container"> 
            <nav>
                <ul>
                    <li><a href="/home">Home</li>
                    <li><a href="/nodetask/search_task05">Searching</a></li>
                    <li><a href="/nodetask/filter">Filter Task</a></li>
                    <li><a href="/nodetask/result_task07">Result Grid</a></li>
                    <li><a href="/nodetask/delimeter_task08">Delimeter Task</a></li>
                    <li><a href="/nodetask/sort_task09">Sorting Task</a></li>
                    <li><a href="/nodetask/fetch_task10">Fetch Api Task</a></li>
                    <li><a href="/nodetask/crud">CRUD Operation</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="section">
        <div class="container">
        </div>
    </section>


</body>

</html>