<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1> Hello</h1>
        <a href="/task">GO to the task</a>
        <base href="/task">



        <a href="?page=1">Hey</a>

        <form method="get">
            <select name="select">
                <option value="1" >Op1</option>
                <option value="2" >op2</option>
            </select>
            <input type="submit" name="Submit">
        </form>


    </body>
</html>